section.plans-container(ng-if="!vm.selectedPlan")
    tg-svg.close(
        svg-icon="icon-close"
        svg-title-translate="COMMON.CLOSE"
    )
    h2.title(ng-bind-html="'SUBSCRIPTIONS.PLANS_SELECTOR.TITLE' | translate")
    .plans-table
        .plan.e2e-plan(
            ng-repeat="plan in vm.publicPlans"
            ng-class="{'highlighted-plan': plan.name == vm.myPlan.current_plan.name}"
            ng-click="vm.selectPlan(plan)"
        )
            span.pill-plan(
                ng-if="plan.name == vm.myPlan.current_plan.name"
                translate="SUBSCRIPTIONS.PLANS_SELECTOR.CURRENT"
            )
            img.plan-image(
                ng-src="/#{v}/images/taiga-contrib-subscriptions/images/{{plan.name | lowercase}}.png",
                alt="{{plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
            )
            .plan-name {{plan.name}}
            .plan-pricing
                .pricing-primary
                    span.currency $
                    span.number {{plan.amount_month}}
                    span.frequency(ng-if="plan.amount_month") /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}

                .pricing-secondary(ng-if="plan.amount_year")
                    span.currency $
                    span.number {{plan.amount_year}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
            .plan-data(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: plan.private_projects}")
            .plan-data(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: plan.project_members}")
        .plan.plan-custom(ng-if="vm.myRecommendedPlan || vm.myPlan.current_plan.id_month")
            img.plan-image(
                src="/#{v}/images/taiga-contrib-subscriptions/images/custom.png",
                alt="Custom {{'SUBSCRIPTIONS.PLAN' | translate}}"
            )
            .plan-name(translate="SUBSCRIPTIONS.PLANS_SELECTOR.CUSTOM")
            .plan-contact(ng-bind-html="'SUBSCRIPTIONS.PLANS_SELECTOR.CONTACT' | translate")

        .plan.plan-custom.highlighted-plan(ng-if="!vm.myRecommendedPlan && !vm.myPlan.current_plan.id_month")
            span.pill-plan(translate="SUBSCRIPTIONS.PLANS_SELECTOR.CURRENT")
            img.plan-image(
                src="/#{v}/images/taiga-contrib-subscriptions/images/custom.png",
                alt="Custom {{'SUBSCRIPTIONS.PLAN' | translate}}"
            )
            .plan-name {{vm.myPlan.current_plan.name}}
            .plan-pricing(ng-if="vm.myPlan.current_plan.amount_month")
                .pricing-primary
                    span.currency $
                    span.number {{vm.myPlan.current_plan.amount_month}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
            .plan-pricing(ng-if="vm.myPlan.current_plan.amount_year")
                .pricing-primary
                    span.currency $
                    span.number {{vm.myPlan.current_plan.amount_year}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
            .plan-data(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: vm.myPlan.current_plan.private_projects}")
            .plan-data(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.myPlan.current_plan.project_members}")

section.plans-container.invalid-plan(ng-if="vm.selectedPlan === 'invalid'")
    tg-svg.close(
        svg-icon="icon-close"
        svg-title-translate="COMMON.CLOSE"
    )
    h2.title(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.TITLE' | translate")
    p(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.REASON' | translate: {plan: vm.invalidPlan.name, projects: vm.invalidPlan.private_projects, members: vm.invalidPlan.project_members}")
    p.reason(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS' | translate: {projects: vm.invalidPlan.private_projects}")
    ul
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION1' | translate: {projects: vm.invalidPlan.private_projects}")
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION2' | translate: {projects: vm.invalidPlan.private_projects}")
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION3' | translate")
    p.reason(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_MEMBERS' | translate: {members: vm.invalidPlan.project_members}")
    ul
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_MEMBERS_OPTION1' | translate: {members: vm.invalidPlan.project_members}")
    img(
        src="/#{v}/images/taiga-contrib-subscriptions/images/downgrade.png"
        alt="{{SUBSCRIPTIONS.DOWNGRADE.IMAGE_ALT | translate}}"
    )
    button.button-green.accept-invalid-plan(
        ng-click="vm.backToPlans()"
        translate="SUBSCRIPTIONS.DOWNGRADE.ACCEPT"
    )

section.plans-container.valid-plan(ng-if="vm.selectedPlan === 'valid'")
    tg-svg.close(
        svg-icon="icon-close"
        svg-title-translate="COMMON.CLOSE"
    )
    h2.title(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.TITLE' | translate")
    .subscription-your-plan
        h3.plan-title(translate="SUBSCRIPTIONS.SELECT_PLAN.YOUR_NEW_PLAN")
        .plan
            img.plan-image(
                ng-src="/#{v}/images/taiga-contrib-subscriptions/images/{{vm.validPlan.name | lowercase}}.png",
                alt="{{vm.validPlan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
            )
            .plan-data
                .plan-name {{vm.validPlan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
                ul.plan-info
                    li(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: vm.validPlan.private_projects}")
                    li(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.validPlan.project_members}")
            .plan-pricing
                .pricing-primary
                    span.currency $
                    span.number(
                        ng-if="vm.selectPlanInterval == 'month'"
                    ) {{vm.validPlan.amount_month}}
                    span.number(
                        ng-if="vm.selectPlanInterval == 'year'"
                    ) {{vm.validPlan.amount_year}}
                    span.frequency(
                        ng-if="vm.selectPlanInterval == 'month'"
                    ) /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
                    span.frequency(
                        ng-if="vm.selectPlanInterval == 'year'"
                    ) /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
                    span.asterisk *

                .pricing-secondary
                    span.currency $
                    span.number(
                        ng-if="vm.selectPlanInterval == 'year'"
                    ) {{vm.validPlan.amount_month}}
                    span.number(
                        ng-if="vm.selectPlanInterval == 'month'"
                    ) {{vm.validPlan.amount_year}}
                    span.frequency(
                        ng-if="vm.selectPlanInterval == 'year'"
                    ) /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
                    span.frequency(
                        ng-if="vm.selectPlanInterval == 'month'"
                    ) /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}

        small.plan-taxes * {{'SUBSCRIPTIONS.SELECT_PLAN.TAXES' | translate}}

    .payment-interval
        p(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.INTERVAL' | translate")
        .interval-options
            fieldset
                input.project-interval(
                    type="radio"
                    name="project-interval"
                    id="project-interval-monthly"
                    ng-model="vm.selectPlanInterval"
                    value = 'month'
                    ng-disabled="vm.invalidInterval == 'month'"
                )
                label.project-interval-button.trans-button(for="project-interval-monthly") {{'SUBSCRIPTIONS.SELECT_PLAN.EVERY_MONTH' | translate}}
            fieldset
                input.project-interval(
                    type="radio"
                    name="project-interval"
                    id="project-interval-yearly"
                    ng-model="vm.selectPlanInterval"
                    ng-disabled="vm.invalidInterval == 'year'"
                    value = 'year'
                )
                label.project-interval-button.trans-button(for="project-interval-yearly") {{'SUBSCRIPTIONS.SELECT_PLAN.EVERY_YEAR' | translate}}

    .payment-options
        a.back.trans-button(
            href=""
            ng-title="SUBSCRIPTIONS.SELECT_PLAN.BACK_TITLE | translate"
            translate="SUBSCRIPTIONS.SELECT_PLAN.BACK"
            ng-click="vm.backToPlans()"
        )
        button.button-green.accept-plan.e2e-accept-plan(
            ng-if="vm.myPlan.customer_id"
            translate="SUBSCRIPTIONS.SELECT_PLAN.BUY"
            ng-click="vm.buyPlan()"
            tg-loading="vm.loadingPayments"
        )
        button.button-green.accept-plan.e2e-accept-plan(
            ng-if="!vm.myPlan.customer_id"
            translate="SUBSCRIPTIONS.SELECT_PLAN.CONTINUE"
            ng-click="vm.buyPlan()"
            tg-loading="vm.loadingPayments"
        )
