section.plans-container(ng-if="!vm.selectedPlan")
    svg.close.icon.icon-close(href="", title="{{'COMMON.CLOSE' | translate}}")
        use(xlink:href="#icon-close")
        h2.title(ng-bind-html="'SUBSCRIPTIONS.PLANS_SELECTOR.TITLE' | translate")
        p.subtitle(ng-bind-html="'SUBSCRIPTIONS.PLANS_SELECTOR.FREE' | translate")
        .plans-table
            .plan(
                ng-repeat="project in response"
                ng-class="{'highlighted-plan': project.name == myPlan.current_plan.name || project.name == myRecommendedPlan.recommended_plan.name}"
                ng-click="vm.selectPLan(project)"
            )
                span.pill-plan(
                    ng-if="project.name == myPlan.current_plan.name"
                    translate="SUBSCRIPTIONS.PLANS_SELECTOR.CURRENT"
                )
                span.pill-plan(
                    ng-if="project.name == myRecommendedPlan.recommended_plan.name"
                    translate="SUBSCRIPTIONS.PLANS_SELECTOR.RECOMMENDED"
                )
                img.plan-image(
                    ng-src="/#{v}/images/taiga-contrib-subscriptions/images/{{project.name | lowercase}}.png",
                    alt="{{project.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
                )
                .plan-name {{project.name}}
                .plan-pricing
                    .pricing-primary
                        span.currency $
                        span.number {{project.amount_month}}
                        span.frequency(
                            ng-if="project.amount_month"
                            ) /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
                    
                    .pricing-secondary(ng-if="project.amount_year")
                        span.currency $
                        span.number {{project.amount_year}}
                        span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
                .plan-data(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: project.private_projects}")
                .plan-data(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: project.project_members}")
            .plan.plan-custom
                img.plan-image(
                    src="/#{v}/images/taiga-contrib-subscriptions/images/custom.png",
                    alt="Custom {{'SUBSCRIPTIONS.PLAN' | translate}}"
                )    
                .plan-name(translate="SUBSCRIPTIONS.PLANS_SELECTOR.CUSTOM")
                .plan-contact(ng-bind-html="'SUBSCRIPTIONS.PLANS_SELECTOR.CONTACT' | translate")
                
section.plans-container.invalid-plan(ng-if="vm.selectedPlan === 'invalid'")
    svg.close.icon.icon-close(href="", title="{{'COMMON.CLOSE' | translate}}")
        use(xlink:href="#icon-close")
    h2.title(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.TITLE' | translate")
    p(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.REASON' | translate: {plan: vm.invalidPlan.name, projects: vm.invalidPlan.private_projects, members: vm.invalidPlan.project_members}")
    p.reason(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS' | translate: {projects: vm.invalidPlan.private_projects}")
    ul
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION1' | translate: {projects: vm.invalidPlan.private_projects}")
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION2' | translate: {projects: vm.invalidPlan.private_projects}")
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION3' | translate")
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION4' | translate")
    p.reason(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_MEMBERS' | translate: {members: vm.invalidPlan.project_members}")
    ul
        li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_MEMBERS_OPTION1' | translate: {members: vm.invalidPlan.project_members}")
    img(
        src="/#{v}/images/taiga-contrib-subscriptions/images/downgrade.png"
        alt="Downgrading a plan"
    )
    button.button-green.accept-invalid-plan(
        ng-click="vm.backToPLans()"
        translate="SUBSCRIPTIONS.DOWNGRADE.ACCEPT"
    )
            
section.plans-container.valid-plan(ng-if="vm.selectedPlan === 'valid'")
    svg.close.icon.icon-close(href="", title="{{'COMMON.CLOSE' | translate}}")
        use(xlink:href="#icon-close")
    h2.title(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.TITLE' | translate")
    p.subtitle(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.SUBTITLE' | translate")
    .subscription-your-plan
        h2.plan-title(translate="SUBSCRIPTIONS.SELECT_PLAN.YOUR_NEW_PLAN")
        .plan
            img.plan-image(
                ng-src="/#{v}/images/taiga-contrib-subscriptions/images/{{vm.validPlan.name | lowercase}}.png",
                alt="{{vm.validPlan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
            )
            .plan-data
                .plan-name {{vm.validPlan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
                ul.plan-info
                    li(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: vm.validPlan.private_projects}")
                    li(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.validPlan.project_members}")
            .plan-pricing(ng-if="vm.validPlan.interval === 'month'")
                .pricing-primary
                    span.currency $
                    span.number {{vm.validPlan.amount_month}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
                
                .pricing-secondary
                    span.currency $
                    span.number {{vm.validPlan.amount_year}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
                    
            .plan-pricing(ng-if="vm.validPlan.interval === 'year'")
                .pricing-primary
                    span.currency $
                    span.number {{vm.validPlan.amount_year}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
                
                .pricing-secondary
                    span.currency $
                    span.number {{vm.validPlan.amount_month}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
                    
    .payment-interval
        p(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.INTERVAL' | translate")
        .interval-options
            fieldset
                input.project-interval(
                    type="radio"
                    name="project-interval"
                    id="project-interval-monthly"
                    checked
                )
                label.project-interval-button(for="project-interval-monthly") Cada Mes
            fieldset
                input.project-interval(
                    type="radio"
                    name="project-interval"
                    id="project-interval-yearly"
                )
                label.project-interval-button(for="project-interval-yearly") Cada Año
        
    .payment-options
        a.back(
            href=""
            ng-title="SUBSCRIPTIONS.SELECT_PLAN.BACK_TITLE | translate"
            translate="SUBSCRIPTIONS.SELECT_PLAN.BACK"
            ng-click="vm.backToPLans()"
        )
        button.button-green.accept-plan(
            translate="SUBSCRIPTIONS.SELECT_PLAN.CONTINUE"
            ng-click="vm.buyPlan(project)"
        )
