section.plans-container.valid-plan
    tg-svg.close(
        svg-icon="icon-close"
        svg-title-translate="COMMON.CLOSE"
    )
    h2.title(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.TITLE' | translate")
    .subscription-your-plan
        h3.plan-title(translate="SUBSCRIPTIONS.SELECT_PLAN.YOUR_NEW_PLAN")
        .plan
            img.plan-image(
                ng-src="/#{v}/images/taiga-contrib-subscriptions/images/leaf.png",
                alt="{{vm.plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
            )
            .plan-data
                .plan-name {{vm.plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
                ul.plan-info
                    li(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT_UNLIMITED' | translate")
                    li(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.members || 1}")
                    li(
                        ng-if="vm.selectPlanInterval == 'month'"
                        ng-bind-html="'SUBSCRIPTIONS.EXTRA_SEAT_PER_MONTH' | translate:{amount: vm.plan.amount_month}"
                    )
                    li(
                        ng-if="vm.selectPlanInterval == 'year'"
                        ng-bind-html="'SUBSCRIPTIONS.EXTRA_SEAT_PER_YEAR' | translate:{amount: vm.plan.amount_year}"
                    )
            .plan-pricing
                .pricing-primary
                    span.currency $
                    span.number(
                        ng-if="vm.selectPlanInterval == 'month'"
                    ) {{vm.plan.amount_month * (vm.members || 1)}}
                    span.number(
                        ng-if="vm.selectPlanInterval == 'year'"
                    ) {{vm.plan.amount_year * (vm.members || 1)}}
                    span.frequency(
                        ng-if="vm.selectPlanInterval == 'month'"
                    ) /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
                    span.frequency(
                        ng-if="vm.selectPlanInterval == 'year'"
                    ) /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
                    span.asterisk *

                .pricing-secondary(ng-if="vm.selectPlanInterval == 'month'")
                    span.currency $
                    span.number {{vm.plan.amount_month * 12 * (vm.members || 1)}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}

        small.plan-taxes * {{'SUBSCRIPTIONS.SELECT_PLAN.TAXES' | translate}}

    .payment-interval
        p(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.INTERVAL' | translate")
        .interval-options
            fieldset
                input.project-interval(
                    type="radio"
                    name="project-interval"
                    id="project-interval-monthly"
                    ng-model="vm.selectPlanInterval"
                    value = 'month'
                    ng-disabled="vm.invalidInterval == 'month'"
                )
                label.project-interval-button.trans-button(for="project-interval-monthly") {{'SUBSCRIPTIONS.SELECT_PLAN.EVERY_MONTH' | translate}}
            fieldset
                input.project-interval(
                    type="radio"
                    name="project-interval"
                    id="project-interval-yearly"
                    ng-model="vm.selectPlanInterval"
                    ng-disabled="vm.invalidInterval == 'year'"
                    value = 'year'
                )
                label.project-interval-button.trans-button(for="project-interval-yearly") {{'SUBSCRIPTIONS.SELECT_PLAN.EVERY_YEAR' | translate}}

    .payment-options
        a.back.trans-button(
            href=""
            ng-title="SUBSCRIPTIONS.SELECT_PLAN.BACK_TITLE | translate"
            translate="SUBSCRIPTIONS.SELECT_PLAN.BACK"
            ng-click="vm.close()"
        )
        button.button-green.accept-plan.e2e-accept-plan(
            translate="SUBSCRIPTIONS.SELECT_PLAN.CONFIRM"
            ng-click="vm.confirmClicked()"
            tg-loading="vm.loadingPayments"
        )
