header
    h1
        span Taiga
        span.green {{vm.sectionName}}
    p.admin-subtitle
        svg.icon.icon-question
            use(xlink:href="#icon-question")
        span(translate="SUBSCRIPTIONS.PLAN_STARTING")
        
section.subscription-your-plan
    header
        h2.title(translate="SUBSCRIPTIONS.YOUR_RECOMMENDED_PLAN")
        .plan-options
            button.button-green(translate="SUBSCRIPTIONS.WANT_PLAN")
            button.button-gray(
                translate="SUBSCRIPTIONS.UPDATE_PLAN"
                ng-click="vm.upgradePlan()"
                tg-loading="vm.loading"
            )
    .plan
        img.plan-image(
            src="/#{v}/images/taiga-contrib-subscriptions/images/{{vm.myRecommendedPlan.recommended_plan.name | lowercase}}.png",
            alt="{{vm.myRecommendedPlan.recommended_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
        )
        .plan-data
            .plan-name {{vm.myRecommendedPlan.recommended_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
            ul.plan-info
                li(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: vm.myRecommendedPlan.recommended_plan.private_projects}")
                li(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.myRecommendedPlan.recommended_plan.project_members}")
                li.subscribe(
                    ng-if="!vm.myRecommendedPlan.recommended_plan.id"
                    ng-bind-html="'SUBSCRIPTIONS.CONTACT_SUBSCRIBE' | translate"
                )
        .plan-pricing(ng-if="vm.myRecommendedPlan.recommended_plan.id")
            .pricing-primary
                span.currency $
                span.number {{vm.myRecommendedPlan.recommended_plan.amount_month}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
            
            .pricing-secondary
                span.currency $
                span.number {{vm.myRecommendedPlan.recommended_plan.amount_year}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
            
aside.subscription-info
    h3.title(translate="SUBSCRIPTIONS.HELP.WHY")
    ul
        li(
            ng-if="vm.myRecommendedPlan.recommended_plan.id"
            translate="SUBSCRIPTIONS.HELP.NUM_PROJECTS"
            translate-values="{private_num: '{{vm.myRecommendedPlan.current_counts.num_private_projects}}', public_num: '{{vm.myRecommendedPlan.current_counts.num_public_projects}}', plan: '{{vm.myRecommendedPlan.recommended_plan.name}}'}"
        )
        li(
            ng-if="!vm.myRecommendedPlan.recommended_plan.id"
            translate="SUBSCRIPTIONS.HELP.NUM_PROJECTS_CUSTOM"
        )
        li(translate="SUBSCRIPTIONS.HELP.SUBSCRIBE")
        li(translate="SUBSCRIPTIONS.HELP.PAYMENT")
        li(translate="SUBSCRIPTIONS.HELP.PUBLIC")
        li
            a(
                href="https://taiga.io/support/payment-process/"
                title="{{'SUBSCRIPTIONS.HELP.MORE_INFO_TITLE' | translate}}"
                target="_blank"
                translate="SUBSCRIPTIONS.HELP.MORE_INFO"
            )
