header
    h1
        span Taiga
        span.green {{vm.sectionName}}

section.subscription-your-plan
    header
        h2.title(translate="SUBSCRIPTIONS.YOUR_PLAN")
        .plan-options
            button.button-gray(
                translate="SUBSCRIPTIONS.UPDATE_PLAN"
                ng-click="vm.upgradePlan()"
                tg-loading="vm.loading"
            )
    .plan
        img.plan-image(
            ng-if="vm.myPlan.current_plan.id_month"
            src="/#{v}/images/taiga-contrib-subscriptions/images/{{vm.myPlan.current_plan.name | lowercase}}.png",
            alt="{{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
        )
        img.plan-image(
            ng-if="!vm.myPlan.current_plan.id_month"
            src="/#{v}/images/taiga-contrib-subscriptions/images/custom.png",
            alt="{{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
        )
        .plan-data
            .plan-name {{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
            ul.plan-info
                li(
                    ng-if="vm.myPlan.current_plan.private_projects"
                    ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: vm.myPlan.current_plan.private_projects}")
                li(
                    ng-if="!vm.myPlan.current_plan.private_projects"
                    translate="SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT_UNLIMITED")
                li(
                    ng-if="vm.myPlan.current_plan.project_members"
                    ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.myPlan.current_plan.project_members}")
                li(
                    ng-if="!vm.myPlan.current_plan.project_members"
                    translate="SUBSCRIPTIONS.MEMBERS_LIMIT_UNLIMITED")

        .plan-pricing
            .pricing-primary(ng-if="vm.myPlan.interval == 'month'")
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_month}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}

            .pricing-primary(ng-if="vm.myPlan.interval == 'year'")
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_year}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}

aside.subscription-info
    a(
        href="https://tree.taiga.io/support/subscription-and-plans/payment-process-faqs/"
        title="{{'SUBSCRIPTIONS.HELP.MORE_INFO_TITLE' | translate}}"
        target="_blank"
        translate="SUBSCRIPTIONS.HELP.MORE_INFO"
    )
    a.change-payment-data.e2e-change-payment-data(
        href=""
        title="{{'SUBSCRIPTIONS.PAYMENT_HISTORY.CHANGE_DATA' | translate}}"
        translate="SUBSCRIPTIONS.PAYMENT_HISTORY.CHANGE_DATA"
        ng-click="vm.changePaymentsData()"
    )
    a.see-billing-data.e2e-see-billing-data(
        href=""
        title="{{'SUBSCRIPTIONS.PAYMENT_HISTORY.SEE_BILLING_DETAILS' | translate}}"
        translate="SUBSCRIPTIONS.PAYMENT_HISTORY.SEE_BILLING_DETAILS"
        ng-click="vm.seeBillingDetails()"
    )



tg-lb-plans.lightbox.lightbox-plans.lightbox-generic-form(
    selected-plan="vm.selectedPlan"
    valid-plan="vm.validPlan"
    select-plan-interval="vm.selectPlanInterval"
)
