.admin-subscriptions(ng-controller="ContribSubscriptionsController as vm")
    header
        h1
            span Taiga
            span.green {{vm.sectionName}}
        p.admin-subtitle
            svg.icon.icon-question
                use(xlink:href="#icon-question")
            span {{'SUBSCRIPTIONS.PLAN_STARTING' | translate}}
            
    section.subscription-your-plan
        header
            h2.title(ng-if="vm.myRecommendedPlan.amount_year == 0") {{'SUBSCRIPTIONS.YOUR_PLAN' | translate}}:
            h2.title(ng-if="vm.myRecommendedPlan.amount_year > 0") {{'SUBSCRIPTIONS.YOUR_RECOMMENDED_PLAN' | translate}}:
            .plan-options
                button.button-green(ng-if="vm.myRecommendedPlan.amount_year > 0") {{'SUBSCRIPTIONS.WANT_PLAN' | translate}}
                button.button-gray {{'SUBSCRIPTIONS.UPDATE_PLAN' | translate}}
        .plan
            img.plan-image(
                src="/#{v}/images/taiga-contrib-subscriptions/images/{{vm.myRecommendedPlan.name | lowercase}}.png",
                alt="{{vm.myRecommendedPlan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
            )
            .plan-data
                .plan-name {{vm.myRecommendedPlan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
                ul.plan-info 
                    li {{vm.limitPrivateProjects}}
                    li {{vm.limitMembersProjects}}
            .plan-pricing
                .pricing-month
                    span.currency {{vm.myRecommendedPlan.currency}}
                    span.number {{vm.myRecommendedPlan.amount_month}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
                
                .pricing-year(ng-if="vm.myRecommendedPlan.amount_year > 0")
                    span.currency {{vm.myRecommendedPlan.currency}}
                    span.number {{vm.myRecommendedPlan.amount_year}}
                    span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
                
    aside.subscription-info
        h3.title {{'SUBSCRIPTIONS.HELP.WHY' | translate}}
        ul
            li {{'SUBSCRIPTIONS.HELP.NO_PROJECTS' | translate}}
            li {{'SUBSCRIPTIONS.HELP.UPGRADE' | translate}}
            li {{'SUBSCRIPTIONS.HELP.ACTIVATION' | translate}}
            li {{'SUBSCRIPTIONS.HELP.PUBLIC' | translate}}
            li
                a(
                    href="https://taiga.io/support/payment-process/"
                    title="{{'SUBSCRIPTIONS.HELP.MORE_INFO_TITLE' | translate}}"
                    target="_blank"
                ) {{'SUBSCRIPTIONS.HELP.MORE_INFO' | translate}}
