header
    h1
        span Taiga
        span.green {{vm.sectionName}}

section.subscription-your-plan(ng-if="!vm.viewingMembers")
    header(ng-if="vm.currentPlan === 'old'")
        h2.title(translate="SUBSCRIPTIONS.YOUR_PLAN")
    .plan(ng-if="vm.currentPlan === 'old'")
        img.plan-image(
            ng-if="vm.myPlan.current_plan.id_month"
            src="/#{v}/images/taiga-contrib-subscriptions/images/#{'{{vm.myPlan.current_plan.name.toLowerCase()}}'}.png",
            alt="{{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
        )
        img.plan-image(
            ng-if="!vm.myPlan.current_plan.id_month"
            src="/#{v}/images/taiga-contrib-subscriptions/images/custom.png",
            alt="{{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
        )
        .plan-data
            .plan-name {{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
            ul.plan-info
                li(
                    ng-if="vm.myPlan.current_plan.private_projects"
                    ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: vm.myPlan.current_plan.private_projects}")
                li(
                    ng-if="!vm.myPlan.current_plan.private_projects"
                    translate="SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT_UNLIMITED")
                li(
                    ng-if="vm.myPlan.current_plan.project_members"
                    ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.myPlan.current_plan.project_members}")
                li(
                    ng-if="!vm.myPlan.current_plan.project_members"
                    translate="SUBSCRIPTIONS.MEMBERS_LIMIT_UNLIMITED")

        .plan-pricing
            .pricing-primary(ng-if="vm.myPlan.current_plan.id === 'per-seat'")
                span.currency $
                span.number {{(vm.perSeatPlan.members.length || 1) * vm.myPlan.current_plan.amount_month }}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}

            .pricing-primary(ng-if="vm.myPlan.current_plan.id !== 'per-seat' && vm.myPlan.interval == 'month'")
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_month}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}

            .pricing-primary(ng-if="vm.myPlan.current_plan.id !== 'per-seat' && vm.myPlan.interval == 'year'")
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_year}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}

    .plan-selector
        .plan-selector-header(ng-class="{old: vm.currentPlan === 'old'}")
            div
                h1.plan-selector-header-title(translate="SUBSCRIPTIONS.PLAN_OPTIONS.UPGRADE_PLAN")
                p.text(ng-bind="'SUBSCRIPTIONS.PLAN_OPTIONS.CURRENT_PLAN_DESCRIPTION' | translate:{members:vm.perSeatPlan.members.length}")
            .plan-selector-button
                button.button-gray(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.MANAGE_MEMBERS"
                    ng-click="vm.viewingMembers = true"
                )
        .plan-selector-body
            .plan-selector-option(ng-class="{current: vm.currentPlan === 'free'}")
                .your-current-plan(ng-if="vm.currentPlan == 'free'", translate="SUBSCRIPTIONS.PLAN_OPTIONS.YOUR_CURRENT_PLAN")
                .plan-option-header
                    img.plan-image(
                        src="/#{v}/images/taiga-contrib-subscriptions/images/seed.png",
                        alt="{{'SUBSCRIPTIONS.PLAN_OPTIONS.FREE_PLAN' | translate}}"
                    )
                    h3.title(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_PLAN")
                ul
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_NUM_USERS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_NUM_PRIVATE_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_NUM_PUBLIC_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_GBS")

                button.button-gray(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.DOWNGRADE"
                    ng-click="vm.changePlan(vm.publicPlanFree)"
                    ng-if="vm.currentPlan === 'premium'"
                )
                button.button-green(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.UPDATE"
                    ng-click="vm.changePlan(vm.publicPlanFree)"
                    ng-if="vm.currentPlan === 'old'"
                )

            .plan-selector-option.premium
                .your-current-plan(ng-if="vm.currentPlan === 'premium'") Your current plan
                .your-current-plan(ng-if="vm.currentPlan !== 'premium'") Recomended

                .plan-option-header
                    img.plan-image(
                        src="/#{v}/images/taiga-contrib-subscriptions/images/leaf.png",
                        alt="{{'SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_PLAN' | translate}}"
                    )
                    h3.title(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_PLAN")

                .price
                    div
                        .price-value ${{vm.publicPlanPerSeat.amount_year/12}}
                        .label Per member per month billed annually
                        .label Members: {{ (vm.perSeatPlan.members.length || 1)}} (${{vm.publicPlanPerSeat.amount_year*(vm.perSeatPlan.members.length || 1)}}/year)
                ul
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_USERS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_PRIVATE_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_PUBLIC_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_GBS")

                button.button-gray(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.UPGRADE"
                    ng-click="vm.selectPlanInterval(vm.publicPlanPerSeat)"
                    ng-if="vm.currentPlan !== 'premium'"
                )

            .plan-selector-option
                .plan-option-header
                    img.plan-image(
                        src="/#{v}/images/taiga-contrib-subscriptions/images/custom.png",
                        alt="{{'SUBSCRIPTIONS.PLAN_OPTIONS.ENTERPRISE_PLAN' | translate}}"
                    )
                    h3.title(translate="SUBSCRIPTIONS.PLAN_OPTIONS.ENTERPRISE_PLAN")
                ul
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.ENTERPRISE_SUPPORT")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.ENTERPRISE_ON_PREMISE")

                button.button-gray(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.CONTACT_US"
                    ng-click="vm.contactUs()"
                )

section.subscription-your-plan.plan-members-section(ng-if="vm.viewingMembers")
    .header
        .text(translate="SUBSCRIPTIONS.MEMBERS.SECTION_DESCRIPTION")
        .plan-selector-button
            button.button-gray(
                translate="SUBSCRIPTIONS.MEMBERS.BACK_TO_PLANS"
                ng-click="vm.viewingMembers = false"
            )
    .notifications-management
        .text(translate="SUBSCRIPTIONS.MEMBERS.NOTIFICATIONS_SELECT")
        div.check
            input(type="checkbox", ng-model="vm.notify.active", ng-change="vm.setNotifyActive()")
            div
            span.check-text.check-yes(translate="COMMON.YES")
            span.check-text.check-no(translate="COMMON.NO")

        select(ng-model="vm.notify.when", ng-if="vm.notify.active", ng-change="vm.setNotifyWhen()")
            option(value="always") Always
            option(value="on-limit") On limit exceed

        div.members-limit-input(ng-if="vm.notify.active && vm.notify.when == 'on-limit'")
            input(type="number", ng-model="vm.notify.limit")
            span Members

        div.members-save-button(ng-class="{active: vm.showSaveLimit()}")
            tg-svg(svg-icon="icon-save", ng-click="vm.saveNotifyLimit()")

    .plan-members
        p(ng-if="vm.perSeatPlan.members.length == 0") No members yet
        ul(ng-if="vm.perSeatPlan.members.length > 0")
            li
                div.user Members
                div.projects Private projects
                div.actions

            li.row.plan-member(ng-repeat="member in vm.perSeatPlan.members", ng-if="member.id.toString() === vm.user.get('id').toString()")
                div.user
                    img(tg-avatar="vm.user")
                    a(tg-nav="user-profile:username=vm.user.get('username')") {{ vm.user.get('full_name')}} (You)

                div.projects
                    span(ng-click="vm.userProjectsList(member.projects, vm.user)") {{member.projects.length}} projects
                div.actions

            li.row.plan-member(ng-repeat="member in vm.perSeatPlan.members", ng-if="member.id.toString() !== vm.user.get('id').toString()")
                div.user
                    img(tg-avatar="vm.userContactsById.get(member.id.toString())")
                    a(tg-nav="user-profile:username=vm.userContactsById.get(member.id.toString()).get('username')") {{ vm.userContactsById.get(member.id.toString()).get('full_name')}}
                div.projects
                    span(ng-click="vm.userProjectsList(member.projects, vm.userContactsById.get(member.id.toString()))") {{member.projects.length}} projects
                div.actions(ng-click="vm.removeUserFromMyProjects(member)")
                    tg-svg(svg-icon="icon-close")

aside.subscription-info
    a(
        href="https://tree.taiga.io/support/subscription-and-plans/payment-process-faqs/"
        title="{{'SUBSCRIPTIONS.HELP.MORE_INFO_TITLE' | translate}}"
        target="_blank"
        translate="SUBSCRIPTIONS.HELP.MORE_INFO"
    )
    a.change-payment-data.e2e-change-payment-data(
        href=""
        title="{{'SUBSCRIPTIONS.PAYMENT_HISTORY.CHANGE_DATA' | translate}}"
        translate="SUBSCRIPTIONS.PAYMENT_HISTORY.CHANGE_DATA"
        ng-click="vm.changePaymentsData()"
    )
    a.see-billing-data.e2e-see-billing-data(
        href=""
        title="{{'SUBSCRIPTIONS.PAYMENT_HISTORY.SEE_BILLING_DETAILS' | translate}}"
        translate="SUBSCRIPTIONS.PAYMENT_HISTORY.SEE_BILLING_DETAILS"
        ng-click="vm.seeBillingDetails()"
    )

tg-lb-confirm-member-remove.lightbox.lightbox-plans.lightbox-generic-form(
    confirm-remove="vm.confirmRemoveUserFromMyProjects",
    user="vm.deletingUser"
)

tg-lb-contact-us.lightbox.lightbox-contact-us.lightbox-generic-form()
tg-lb-user-projects.lightbox.lightbox-user-projects.lightbox-generic-form(
    user="vm.userProjectsLb"
)

tg-lb-invalid-plan.lightbox.lightbox-user-projects.lightbox-generic-form(
    plan="vm.invalidPlan"
)

tg-lb-confirm-subscribe.lightbox.lightbox-user-projects.lightbox-generic-form(
    plan="vm.subscribePlan"
    members="vm.perSeatPlan.members.length"
    on-confirm="vm.changePlan(plan, interval == 'month')"
)
