header
    h1
        span Taiga
        span.green {{vm.sectionName}}
    p.admin-subtitle
        svg.icon.icon-question
            use(xlink:href="#icon-question")
        span(translate="SUBSCRIPTIONS.PLAN_STARTING")
        
section.subscription-your-plan
    header
        h2.title(translate="SUBSCRIPTIONS.YOUR_PLAN")
        .plan-options
            button.button-gray(
                translate="SUBSCRIPTIONS.UPDATE_PLAN"
                ng-click="vm.upgradePlan()"
                tg-loading="vm.loading"
            )
    .plan
        img.plan-image(
            ng-if="vm.myPlan.current_plan.id_month"
            src="/#{v}/images/taiga-contrib-subscriptions/images/{{vm.myPlan.current_plan.name | lowercase}}.png",
            alt="{{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
        )
        img.plan-image(
            ng-if="!vm.myPlan.current_plan.id_month"
            src="/#{v}/images/taiga-contrib-subscriptions/images/custom.png",
            alt="{{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}"
        )
        .plan-data
            .plan-name {{vm.myPlan.current_plan.name}} {{'SUBSCRIPTIONS.PLAN' | translate}}
            ul.plan-info
                li(ng-bind-html="'SUBSCRIPTIONS.PRIVATE_PROJECTS_LIMIT' | translate: {number: vm.myPlan.current_plan.private_projects}")
                li(ng-bind-html="'SUBSCRIPTIONS.MEMBERS_LIMIT' | translate: {number: vm.myPlan.current_plan.project_members}")
                
        .plan-pricing(ng-if="vm.myPlan.interval == 'month'")
            .pricing-primary
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_month}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
            
            .pricing-secondary
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_year}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
                
        .plan-pricing(ng-if="vm.myPlan.interval == 'year'")
            .pricing-primary
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_year}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}
            
            .pricing-secondary
                span.currency $
                span.number {{vm.myPlan.current_plan.amount_month}}
                span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_MONTH' | translate}}
            
aside.subscription-info
    h3.title(translate="SUBSCRIPTIONS.PAYMENT_HISTORY.TITLE")
    p(translate="SUBSCRIPTIONS.PAYMENT_HISTORY.FREE")
