div.create-warning(ng-if="!canCreatePrivateProjects.valid && canCreatePrivateProjects.reason == 'max_private_projects'")
    svg.icon.icon-exclamation
        use(xlink:href="#icon-exclamation")
    span {{ 'WIZARD.MAX_PRIVATE_PROJECTS' | translate }}
    div
        span {{ 'WIZARD.CREATE_MORE_PROJECTS' | translate }}
        a(
            href=""
            title="{{'WIZARD.CHANGE_PLAN' | translate }}"
            tg-nav="project-admin-project-profile-modules:project=project.slug"
        ) {{'WIZARD.CHANGE_PLAN' | translate }}
    
div.create-warning(ng-if="!canCreatePublicProjects.valid && canCreatePublicProjects.reason == 'max_public_projects'")
    svg.icon.icon-exclamation
        use(xlink:href="#icon-exclamation")
    span {{ 'WIZARD.MAX_PUBLIC_PROJECTS' | translate }}
    div
        span {{ 'WIZARD.CREATE_MORE_PROJECTS' | translate }}
        a(
            href=""
            title="{{'WIZARD.CHANGE_PLAN' | translate }}"
            tg-nav="project-admin-project-profile-modules:project=project.slug"
        ) {{'WIZARD.CHANGE_PLAN' | translate }}
