header.paid-plans
    h1(translate="SUBSCRIPTIONS.YOUR_PLAN")

section.subscription-your-plan(ng-switch="vm.currentPlan")
    div(ng-switch-when="free")
        include ./plans/plan-free
    div(ng-switch-when="premium")
        include ./plans/plan-premium
    div(ng-switch-default)
        include ./plans/plan-old

section.plan-members-section
    include ./members/members

aside.plan-subscription-info
    a(
        href="https://tree.taiga.io/support/subscription-and-plans/payment-process-faqs/"
        title="{{'SUBSCRIPTIONS.HELP.MORE_INFO_TITLE' | translate}}"
        target="_blank"
        translate="SUBSCRIPTIONS.HELP.MORE_INFO"
    )
    a.change-payment-data.e2e-change-payment-data(
        ng-if="vm.currentPlan == 'premium'"
        href=""
        title="{{'SUBSCRIPTIONS.PAYMENT_HISTORY.CHANGE_DATA' | translate}}"
        translate="SUBSCRIPTIONS.PAYMENT_HISTORY.CHANGE_DATA"
        ng-click="vm.changePaymentsData()"
    )
    a.see-billing-data.e2e-see-billing-data(
        ng-if="vm.currentPlan == 'premium'"
        href=""
        title="{{'SUBSCRIPTIONS.PAYMENT_HISTORY.SEE_BILLING_DETAILS' | translate}}"
        translate="SUBSCRIPTIONS.PAYMENT_HISTORY.SEE_BILLING_DETAILS"
        ng-click="vm.seeBillingDetails()"
    )

tg-lb-confirm-member-remove.lightbox.lightbox-plans.lightbox-generic-form(
    confirm-remove="vm.confirmRemoveUserFromMyProjects",
    user="vm.deletingUser"
)

tg-lb-contact-us.lightbox.lightbox-contact-us.lightbox-generic-form()
tg-lb-user-projects.lightbox.lightbox-user-projects.lightbox-generic-form(
    user="vm.userProjectsLb"
)

tg-lb-invalid-plan.lightbox.lightbox-user-projects.lightbox-generic-form(
    plan="vm.invalidPlan"
)

tg-lb-confirm-subscribe.lightbox.lightbox-user-projects.lightbox-generic-form(
    plan="vm.subscribePlan"
    members="vm.perSeatPlan.members.length"
    on-confirm="vm.changePlan(plan, interval == 'month')"
)
