section.plans-container.valid-plan
    tg-svg.close(
        svg-icon="icon-close"
        svg-title-translate="COMMON.CLOSE"
    )
    h2.title(ng-bind-html="'SUBSCRIPTIONS.SELECT_PLAN.TITLE' | translate")
    p.subtitle(translate="SUBSCRIPTIONS.SELECT_PLAN.SUBTITLE")
    .plan-selector
        .plan-selector-body
            .plan-selector-option(ng-class="{current: vm.currentPlan === 'free'}")
                .plan-option-header
                    h3.title(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_PLAN")
                ul
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_NUM_USERS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_NUM_PRIVATE_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_NUM_PUBLIC_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.FREE_GBS")

                button.button-gray(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.DOWNGRADE"
                    ng-click="vm.changePlan(vm.publicPlanFree)"
                    ng-if="vm.currentPlan === 'premium'"
                )
                button.button-green(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.UPDATE"
                    ng-click="vm.changePlan(vm.publicPlanFree)"
                    ng-if="vm.currentPlan === 'custom'"
                )

            .plan-selector-option.premium
                .your-current-plan(ng-if="vm.currentPlan === 'premium'") Your current plan
                .your-current-plan(ng-if="vm.currentPlan !== 'premium'") Recomended

                .plan-option-header
                    h3.title(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_PLAN")

                .price
                    div
                        .price-value ${{vm.publicPlanPerSeat.amount_year/12}}
                        .label Per member per month billed annually
                        .label Members: {{ (vm.perSeatPlan.members.length || 1)}} (${{vm.publicPlanPerSeat.amount_year*(vm.perSeatPlan.members.length || 1)}}/year)
                ul
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_USERS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_PRIVATE_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_PUBLIC_PROJECTS")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_GBS")

                button.button-gray(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.UPGRADE"
                    ng-click="vm.selectPlanInterval(vm.publicPlanPerSeat)"
                    ng-if="vm.currentPlan !== 'premium'"
                )

            .plan-selector-option
                .plan-option-header
                    h3.title(translate="SUBSCRIPTIONS.PLAN_OPTIONS.ENTERPRISE_PLAN")
                ul
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.ENTERPRISE_SUPPORT")
                    li
                        tg-svg(svg-icon="icon-check-empty")
                        span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.ENTERPRISE_ON_PREMISE")

                button.button-gray(
                    translate="SUBSCRIPTIONS.PLAN_OPTIONS.CONTACT_US"
                    ng-click="vm.contactUs()"
                )

        tg-lb-confirm-subscribe.lightbox.lightbox-generic-form(
            plan="vm.subscribePlan"
            members="vm.perSeatPlan.members.length"
            on-confirm="vm.changePlan(plan, interval == 'month')"
        )
