div.no-more-membership
    p.admin-subtitle(
        ng-if="project.i_am_owner == true && project.total_memberships >= 3"
        translate="ADMIN.MEMBERSHIPS.LIMIT_USERS_WARNING_MESSAGE_FOR_OWNER_WITH_LIMITED_PLAN"
        translate-values="{members: project.total_memberships}"
    )

    p.admin-subtitle(
        ng-if="project.i_am_owner == false"
        translate="ADMIN.MEMBERSHIPS.LIMIT_USERS_WARNING_MESSAGE_FOR_ADMIN"
        translate-values="{owner_email: ownerEmail}"
    )

    .action-buttons
        a.button-green(
            translate="ADMIN.MEMBERSHIPS.UPGRADE_BUTTON"
            title="{{ ADMIN.MEMBERSHIPS.UPGRADE_BUTTON | translate }}",
            href="/user-settings/contrib/subscriptions"
            ng-if="project.i_am_owner == true"
        )

