section.plans-container.invalid-plan
    tg-svg.close(
        svg-icon="icon-close"
        svg-title-translate="COMMON.CLOSE"
    )
    h2.title
        span(ng-if="vm.mode == 'cancel'", ng-bind-html="'SUBSCRIPTIONS.CANCEL.TITLE' | translate: {plan: vm.plan.name}")
        span(ng-if="vm.mode == 'downgrade'", ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.TITLE' | translate: {plan: vm.plan.name}")
    p(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MUST_CHANGE' | translate: {plan: vm.plan.name}")
    .actions-required
        p.reason(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS' | translate: {projects: vm.plan.private_projects}")
        ul
            li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_PROJECTS_OPTION' | translate")
        p.reason(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_MEMBERS' | translate: {members: vm.plan.project_members}")
        ul
            li(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.MORE_MEMBERS_OPTION1' | translate: {members: vm.plan.project_members}")

    .annotation
        a.annotation-toggle(
            href=''
            ng-click="vm.toggleAnnotation()"
        )
            span(translate="SUBSCRIPTIONS.DOWNGRADE.WHY_MAKE_CHANGES")
            span.toggle(ng-class="{active: vm.annotationVisible}") ⌵
        .annotation-content(ng-if="vm.annotationVisible")
            p(ng-bind-html="'SUBSCRIPTIONS.DOWNGRADE.REASON_WHY' | translate: {plan: vm.plan.name, projects: vm.plan.private_projects, members: vm.plan.project_members}")
            .annotation-image-wrapper
                img(
                    src="/#{v}/images/taiga-contrib-subscriptions/images/downgrade.png"
                    alt="{{SUBSCRIPTIONS.DOWNGRADE.IMAGE_ALT | translate}}"
                )
    .actions
        button.button-green.accept-invalid-plan(
            ng-click="vm.close()"
            translate="SUBSCRIPTIONS.DOWNGRADE.ACCEPT"
        )

        a(
            href=""
            ng-if="vm.mode == 'cancel'"
            ng-click="vm.confirmCancel()"
            translate="SUBSCRIPTIONS.CANCEL.CANCEL_NOW"
        )

    tg-lb-confirm-cancel-plan.lightbox.lightbox-generic-form(
        plan="vm.plan"
        current-plan="vm.currentPlan"
    )
