div.cant-own-project-explanation(ng-switch="vm.validNumberOfMemberships")
    p(
        ng-switch-when="true"
        translate="{{vm.ownerMessage}}"
        translate-values="{maxProjects: vm.maxProjects, currentProjects: vm.currentProjects}"
    )

    .transfer-project-options

        a.button.button-green(
            ng-switch-when="true"
            href="#"
            tg-nav="user-settings-contrib:plugin='subscriptions'"
            title="{{'SUBSCRIPTIONS.PLAN_OPTIONS.CHANGE_PLAN' | translate}}"
            translate="SUBSCRIPTIONS.PLAN_OPTIONS.CHANGE_PLAN"
        )

    p(
        ng-switch-when="false"
        translate="ADMIN.PROJECT_TRANSFER.CANT_BE_OWNED_BY_MEMBERSHIPS"
    )
