extends ./_plan

block plan-image
    img.plan-image(
        src="/#{v}/images/taiga-contrib-subscriptions/images/leaf.png",
        alt="{{'SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_PLAN' | translate}}"
    )
block plan-name
    span(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_PLAN")

block plan-info
    li(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_USERS")
    li(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_PRIVATE_PROJECTS")
    li(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_NUM_PUBLIC_PROJECTS")
    li(translate="SUBSCRIPTIONS.PLAN_OPTIONS.PREMIUM_GBS")

block plan-options
    a(
        href=""
        translate="SUBSCRIPTIONS.PLAN_OPTIONS.CHANGE_PLAN"
        ng-click="vm.changePlan(vm.publicPlanFree)"
    )
    a(
        href=""
        translate="SUBSCRIPTIONS.PLAN_OPTIONS.CANCEL_PLAN"
        ng-click="alert('cancel')"
    )
